<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buyumlar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Buyumlar">
        <activity android:name=".activity.PaymentActivity"></activity>
        <activity android:name=".activity.AddAddressActivity" />
        <activity android:name=".activity.AddressActivity" />
        <activity android:name=".activity.CartActivity" />
        <activity android:name=".activity.ShowAllActivity" />
        <activity android:name=".activity.DetailActivity" />
        <activity android:name=".activity.onBoardingActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegistratsiaActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_fKKIXKJC5c93dv"/>
    </application>

</manifest>